[submodule "libsignal-protocol-c"]
	path = plugins/signal-protocol/libsignal-protocol-c
	url = https://github.com/WhisperSystems/libsignal-protocol-c.git
	branch = 4a137eaf4eb4421949e2e1dde9f11ec7bc07b88f
