[submodule "libsignal-protocol-c"]
	path = plugins/signal-protocol/libsignal-protocol-c
	url = https://github.com/WhisperSystems/libsignal-protocol-c.git
	branch = e59089a644ca747ed50442eb8804266618f11c0b
