1 VERSIONINFO
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Dino"
      VALUE "FileDescription", "Dino - Modern XMPP (""Jabber"") Chat Client"
      VALUE "InternalName", "dino"
      VALUE "LegalCopyright", "Dino"
      VALUE "OriginalFilename", "dino.exe"
      VALUE "ProductName", "Dino"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

DINO_ICO ICON "./dino.ico"