/**
 * This theme file is applied before the operating system theme and any user configuration.
 * It provides sane defaults for things that are very Dino-specific.
 */

window.dino-main headerbar.dino-left label.title {
    opacity: 0;
    font-size: 0;
    color: transparent;
}