/**
 * This theme file is applied after the operating system theme
 * It provides sane defaults for things that are very Dino-specific.
 */

window.dino-main .dino-header-right {
    background: @theme_base_color;
}

window.dino-main .dino-header-left {
    background: @insensitive_bg_color;
}

window.dino-main headerbar.dino-left label.title {
    opacity: 0;
    font-size: 0;
    color: transparent;
}

window.dino-main .dino-conversation {
    background: @theme_base_color;
}

window.dino-main .dino-conversation undershoot,
window.dino-main .dino-conversation viewport /* Some themes set this */ {
    background: none;
}

@keyframes highlight {
    from { background: alpha(@warning_color, 0.5) }
    to { background: transparent }
}

window.dino-main .dino-conversation .highlight-once {
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-name: highlight;
}

window.dino-main .dino-conversation .message-box:hover {
    background: alpha(@theme_fg_color, 0.04);
}

window.dino-main .unread-count-notify {
    background-color: alpha(@theme_fg_color, 0.8);
    color: @theme_base_color;
    font-family: monospace;
    border-radius: 999em;
    padding: .2em .41em;
}

window.dino-main .unread-count-notify:backdrop {
    background-color: alpha(@theme_unfocused_fg_color, 0.8);
    color: @theme_unfocused_base_color;
}

window.dino-main .unread-count {
    background-color: alpha(@theme_fg_color, 0.1);
    color: @theme_fg_color;
    font-family: monospace;
    border-radius: 999em;
    padding: .2em .41em;
}

window.dino-main .unread-count:backdrop {
    background-color: alpha(@theme_unfocused_fg_color, 0.1);
    color: @theme_unfocused_fg_color;
}

window.dino-main .dino-sidebar > frame {
    background: @insensitive_bg_color;
    border-left: 1px solid @borders;
    border-bottom: 1px solid @borders;
}

window.dino-main list.sidebar {
    border-left: 0px;
    border-right: 0px;
}

.message-box {
    transition: background .05s ease;
}

window.dino-main .dino-conversation .message-box.edit-mode {
    background: alpha(@theme_selected_bg_color, 0.1);
}

window.dino-main .dino-conversation .message-box.edit-mode:hover {
    background: alpha(@theme_selected_bg_color, 0.12);
}

window.dino-main .file-box-outer,
window.dino-main .call-box-outer {
    background: @theme_base_color;
    border-radius: 3px;
    border: 1px solid alpha(@theme_fg_color, 0.1);
}

window.dino-main .file-box,
window.dino-main .call-box {
    margin: 12px 16px 12px 12px;
}

window.dino-main .call-box-outer.incoming {
    border-color: alpha(@theme_selected_bg_color, 0.3);
}

window.dino-main .incoming-call-box {
    background: alpha(@theme_selected_bg_color, 0.1);
}

window.dino-main .dino-sidebar > frame.collapsed {
    border-bottom: 1px solid @borders;
}

window.dino-main .dino-sidebar frame.auto-complete {
    background: @theme_base_color;
}

window.dino-main .dino-sidebar frame.auto-complete list > row {
    transition: none;
}

window.dino-main .dino-white-overlay {
    background: @theme_base_color;
}

window.dino-main .dino-file-overlay {
    border-radius: 5px;
    border: 1px solid alpha(black, 0.2);
    box-shadow: 0 2px 3px alpha(black, 0.1);
}

window.dino-main .dino-chatinput frame box {
    background: transparent;
}

window.dino-main button.dino-attach-button {
    min-width: 24px; /* Make button the same with as avatars */
}

window.dino-main button.dino-chatinput-button {
    border: none;
    background: transparent;
    box-shadow: none;
    min-height: 0;
    padding: 7px 5px;
    color: alpha(@theme_fg_color, 0.6);
    outline: none;
}

window.dino-main button.dino-chatinput-button:hover {
    color: @theme_selected_bg_color;
}

window.dino-main button.dino-chatinput-button:backdrop {
    color: alpha(@theme_unfocused_fg_color, 0.6);
}

window.dino-main button.dino-chatinput-button:active,
window.dino-main button.dino-chatinput-button:checked {
    color: alpha(@theme_selected_bg_color, 0.8);
}

window.dino-main button.dino-chatinput-button:checked:backdrop {
    color: alpha(@theme_unfocused_selected_bg_color, 0.8);
}


.dino-chatinput,
.dino-chatinput textview,
.dino-chatinput textview text {
    background-color: @theme_base_color;
}


/*Chat input warning*/

box.dino-input-warning frame border {
    border-color: @warning_color;
}

box.dino-input-warning frame separator {
    background-color: @warning_color;
    border: none;
}

box.dino-input-warning label {
    color: mix(@warning_color, @theme_fg_color, 0.5);
}


/*Chat input error*/

box.dino-input-error frame border {
    border-color: @error_color;
}

box.dino-input-error frame separator {
    background-color: @error_color;
    border: none;
}

box.dino-input-error label {
    color: @error_color;
}

@keyframes input-error-highlight {
    0% { color: mix(@error_color, @theme_fg_color, 0.3);}
    30% { color: @error_color; text-shadow: 0px 0px 2px alpha(@error_color, 0.4); }
    100% { color: mix(@error_color, @theme_fg_color, 0.3); }
}

box.dino-input-error label.input-status-highlight-once {
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-name: input-error-highlight;
}

/* Call window */

.dino-call-window .titlebar {
    min-height: 0;
}

.dino-call-window headerbar, .call-button {
    box-shadow: none;
}

.dino-call-window .titlebutton.close:hover {
    background: rgba(255,255,255,0.15);
    border-color: rgba(255,255,255,0);
    box-shadow: none;
}

.dino-call-window button.call-button {
    outline: 0;
    border-radius: 1000px;
}

.dino-call-window button.white-button {
    color: #1d1c1d;
    background: rgba(255,255,255,0.85);
    border: lightgrey;
}
.dino-call-window button.white-button:hover {
    background: rgba(255,255,255,1);
}

.dino-call-window button.transparent-white-button {
    color: white;
    background: rgba(255,255,255,0.15);
    border: none;
}
.dino-call-window button.transparent-white-button:hover {
    background: rgba(255,255,255,0.25);
}

.dino-call-window button.call-mediadevice-settings-button {
    border-radius: 1000px;
    min-height: 0;
    min-width: 0;
    padding: 3px;
    margin: 2px;
    transition-duration: 0;
}

.dino-call-window button.call-mediadevice-settings-button:hover,
.dino-call-window button.call-mediadevice-settings-button:checked { /* Effect that makes the button slightly larger on hover :) */
    border-radius: 1000px;
    min-height: 0;
    min-width: 0;
    padding: 5px;
    margin: 0;
}

.dino-call-window .encryption-box {
    color: rgba(255,255,255,0.7);
    border-radius: 5px;
    background: rgba(0,0,0,0.5);
    padding: 0px;
    border: none;
    box-shadow: none;
}

.dino-call-window .encryption-box.unencrypted {
    color: @error_color;
}

.dino-call-window .encryption-box:hover {
    background: rgba(20,20,20,0.5);
}

.dino-call-window .call-header-bar {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0));
    border: 0;
    border-radius: 0;
}

.dino-call-window .call-header-bar,
.dino-call-window .call-header-bar image {
    color: #ededec;
}

.dino-call-window .call-bottom-bar {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
    border: 0;
}

.dino-call-window .video-placeholder-box {
    background-color: #212121;
}

.dino-call-window .text-no-controls {
    background: white;
    border-radius: 5px;
    padding: 5px 10px;
}