/**
 * This theme file is applied after the operating system theme
 * It provides sane defaults for things that are very Dino-specific.
 */

window.dino-main headerbar.dino-left label.title {
    opacity: 0;
    font-size: 0;
    color: transparent;
}

window.dino-main .dino-conversation {
    background: @theme_base_color;
}

window.dino-main .dino-conversation undershoot {
    background: none;
}

@keyframes highlight {
    from { background: alpha(@warning_color, 0.5) }
    to { background: transparent }
}

window.dino-main .dino-conversation .highlight-once {
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-name: highlight;
}

window.dino-main .dino-conversation textview, window.dino-main .dino-conversation textview text {
    background: transparent;
}

window.dino-main .dino-sidebar frame {
    background: @insensitive_bg_color;
    border-left: 1px solid @borders;
    border-bottom: 1px solid @borders;
}

window.dino-main .dino-sidebar frame.collapsed {
    border-bottom: 1px solid @borders;
}

window.dino-main .dino-sidebar textview,
window.dino-main .dino-sidebar textview text {
    background-color: transparent;
}


window.dino-main .dino-chatinput frame box {
    background: @theme_base_color;
}

window.dino-main .dino-chatinput frame box:backdrop {
    background: @theme_unfocused_base_color;
}

window.dino-main button.dino-chatinput-button {
    border: none;
    background: transparent;
    box-shadow: none;
    min-height: 0;
    padding: 7px 5px;
    color: alpha(@theme_fg_color, 0.6);
    outline: none;
}

window.dino-main button.dino-chatinput-button:hover {
    color: @theme_selected_bg_color;
}

window.dino-main button.dino-chatinput-button:backdrop {
    color: alpha(@theme_unfocused_fg_color, 0.6);
}

window.dino-main button.dino-chatinput-button:active,
window.dino-main button.dino-chatinput-button:checked {
    color: alpha(@theme_selected_bg_color, 0.8);
}

window.dino-main button.dino-chatinput-button:checked:backdrop {
    color: alpha(@theme_unfocused_selected_bg_color, 0.8);
}
